fastapi[all] ==0.115.*, >=0.115.6
psycopg2 ==2.9.*, >= 2.9.10
pytest ==8.3.*, >= 8.3.4
pytest-cov ==6.0.*, >=6.0.0
python-dotenv ==1.0.*, >=1.0.1
requests ==2.32.*, >=2.32.3
sqlalchemy ==2.0.*, >=2.0.36
alembic ==1.14.*, >=1.14.0
black ==24.10.*, >= 24.10.0
setuptools ==75.6.*, >= 75.6.0
