.logo {
    position: fixed;
    top: 12;
    left: 12;
}

.panel {
    position: fixed;
    top: 12px;
    right: 12px;
}
.spotifyText {
    margin-right: 6px;
}

@media (max-width: 600px) {
    .logo {
        display: none;
    }
    .spotifyText {
        display: none;
    }
}